node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Logs
logs
*.log
npm-debug.log*
yarn-error.log*

# Env
.env
.env.*

# Cache
.cache
.parcel-cache

# Build
build/
dist/

# OS
.DS_Store

# IDE
.vscode/

# Native
/ios
/android
